		<div class="color_group">
		{% for color in REDS %}
			<!-- {{color[0]}} --><div class="color_option_box" style="background-color: rgb({{color[1]}});" onclick="selectColor(this, '{{color[1]}}');"></div>
		{% endfor %}
		</div>

		<div class="color_group">
		{% for color in ORANGES %}
			<!-- {{color[0]}} --><div class="color_option_box" style="background-color: rgb({{color[1]}});" onclick="selectColor(this, '{{color[1]}}');"></div>
		{% endfor %}
		</div>

		<div class="color_group">
		{% for color in YELLOWS %}
			<!-- {{color[0]}} --><div class="color_option_box" style="background-color: rgb({{color[1]}});" onclick="selectColor(this, '{{color[1]}}');"></div>
		{% endfor %}
		</div>

		<div class="color_group">
		{% for color in GREENS %}
			<!-- {{color[0]}} --><div class="color_option_box" style="background-color: rgb({{color[1]}});" onclick="selectColor(this, '{{color[1]}}');"></div>
		{% endfor %}
		</div>

		<div class="color_group">
		{% for color in BLUES %}
			<!-- {{color[0]}} --><div class="color_option_box" style="background-color: rgb({{color[1]}});" onclick="selectColor(this, '{{color[1]}}');"></div>
		{% endfor %}
		</div>
		
		<div class="color_group">
		{% for color in PINKS %}
			<!-- {{color[0]}} --><div class="color_option_box" style="background-color: rgb({{color[1]}});" onclick="selectColor(this, '{{color[1]}}');"></div>
		{% endfor %}
		</div>

		<div class="color_group">
		{% for color in PURPLES %}
			<!-- {{color[0]}} --><div class="color_option_box" style="background-color: rgb({{color[1]}});" onclick="selectColor(this, '{{color[1]}}');"></div>
		{% endfor %}
		</div>

		<div class="color_group">
		{% for color in BROWNS %}
			<!-- {{color[0]}} --><div class="color_option_box" style="background-color: rgb({{color[1]}});" onclick="selectColor(this, '{{color[1]}}');"></div>
		{% endfor %}
		</div>

		<div class="color_group">
		{% for color in GRAYSCALE %}
			<!-- {{color[0]}} --><div class="color_option_box" style="background-color: rgb({{color[1]}});" onclick="selectColor(this, '{{color[1]}}');"></div>
		{% endfor %}
		</div>

















