<!-- MDN JS -------------------------------------------------------------------->
{% include 'mdn.html' %}

<!-- Set color Selector JavaScript-->
<script type="text/javascript" src="{{url_for('static', filename='js/colorSelector.js')}}"></script>


<!-- Set Grid JavaScript-->
<script type="text/javascript" src="{{url_for('static', filename='js/grid.js')}}"></script>


<!-- Create AHK Script -->
<script type="text/javascript" src="{{url_for('static', filename='js/createScript.js')}}"></script>

</body>
</html>